.main{
    background-color:#ffffff;
    padding-right: 250px;
    padding-left:250px;
    padding-bottom: 150px;
}

/*
.container{
    width:99%;
    top:0;
    position:fixed;
    
}

.nav {
    height:60px;
    background:#0C6C7A;
    position:relative;

}

.nav ul{
    margin:0;
    padding:0;

}

.nav ul li{
    list-style: none
}

.nav ul li a{
    text-decoration: none;
    float:left;
    display: block;
    padding:20px 20px;
    color:aliceblue;
}
*/

.heading {
    height:100px;
    width: 100%;
    background:#0F8799;
    color:aliceblue;
    display: block;
    padding-bottom: 30px;
    padding-top: 15px;
    top:0;
}

