.main{
    background-color:#ffffff;
    margin-left: 15%;
    margin-right: 15%;
}


.heading {
    height:130px;

    width: 100%;
    background:#14B4CC;
    color:white;
    display: block;
    padding-bottom: 20px;
    padding-top: 30px;
    top:0;
}
