/* Navigation styling */
nav {
    position: fixed;
    background: #0f8799;
    font-size: 15px;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 5;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
    margin-top: 5px;
    vertical-align: top;
}


nav a {
    display: block;
    color: white;
    padding: 10px 10px 10px 10px;
    text-transform: uppercase;
    text-decoration: none;
}

nav a:hover {
    background: white;
    color: #0f8799;
}

/* Body styling */
.head {
    margin-top: 50px;
    background: #14b4cc;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px; 
    text-align: center;
}

.mainhead {
    background: linear-gradient(to bottom right, #084851, #0f8799, #14b4cc, white);
    color: white;
    padding-top: 20px;
    padding-bottom: 20px; 
    text-align: center;
    font-style: oblique;
}

.gif {
    min-height:auto;
    width: 100%;
    
}

body {
    margin: 0;
}

.main, #References {
    margin: 35px 15% 35px 15%;   
}

p:not([class=indfree]) {
    text-indent: 30px;
}

.center {
    display: block;
    margin: 0 auto;
}

#topBtn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background: #0f8799;
    color: white;
    opacity: 0.4;
    padding: 5px;
    border-radius: 4px;
}

#topBtn:hover {
    background: white;
    color: #0f8799;
    opacity: 1;
}

footer {
    background: linear-gradient(to top left, #084851, #0f8799, #14b4cc, white);
    padding-top: 20px;
    padding-bottom: 20px; 
    color: white;
    font-size: 2;
    font-style: italic;
    text-align: right;
}