.main{
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
    color:#545454;
    background-color:#ffffff;
    padding-bottom: 100px;

}

.heading {
    height:80px;
    width: 100%;
    background:#0F8799;
    color:aliceblue;
    display: block;
    padding-bottom: 30px;
    padding-top: 60px;
    
}
